<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>592280217867-b687kbenb8jdbd7ep2ka3pev5192gk7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592280217867-b687kbenb8jdbd7ep2ka3pev5192gk7c</string>
	<key>API_KEY</key>
	<string>AIzaSyDnXQ2yq2fF13KQoVW_EN-vNf5ytBWM09g</string>
	<key>GCM_SENDER_ID</key>
	<string>592280217867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nGen</string>
	<key>PROJECT_ID</key>
	<string>mobile-coco</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-coco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592280217867:ios:93ceda99ffe418e5</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-coco.firebaseio.com</string>
</dict>
</plist>